*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    background-color: rgb(15, 15, 15);
}
 
li{
    margin-top: 25px;
    list-style: none;
}
input{
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}
 
#cadastro{
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(255, 217, 0, 0.87);
    color: aliceblue;
    padding: 20px 40px;
    border: none;
   
}
 
#login{
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #494949;
    color: aliceblue;
    padding: 20px 40px;
    border: none;
   
}
button {
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(15, 13, 1, 0.3);
}
button:hover {
    background-color: cornflowerblue;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
}